{% extends 'overpage.html' %}


{% block content %}
<body>
<center>
    <div class="card border-primary mb-3" style="max-width: 20rem; margin-top:8%;
            border:5px solid red; border-radius:6%;">

    <img style="margin-top:10%; margin-bottom:10%; margin-left:5%;margin-right:5%; max-width:20rem" src="{{ url_for('static', filename='icons/logo_icon.png') }}">
      <div class="card-body">
          <h4 class="card-title">Изменение пароля</h4>
          <form method="post" accept="{{ url_for('profile.change_password', username=username) }}" enctype="multipart/form-data">
            {{ form.csrf_token }}
              <fieldset>
                {% if not user.admin %}
                    <div style="margin-top:7%; margin-bottom:5%">
                        {{ form.old_password() }}
                    </div>
                {% endif %}
                <div style="margin-top:7%; margin-bottom:5%">
                  {{ form.new_password() }}
                </div>
                <div style="margin-top:7%; margin-bottom:5%">
                  {{ form.repeat_new_password() }}
                </div>
                <div style="margin-top:7%; margin-bottom:5%;">
                    {{ form.submit() }}
                </div>
                </fieldset>
              </form>
            </div>
    </div>
</center>
</body>
{% endblock %}