{% extends "overpage.html" %}


{% block content %}
<body>
<div  style="margin-top:3%; margin-left:10%; margin-right:3%; margin-bottom:3%;">

  {% for user in users %}
   <div class="card border-dark mb-3" style="max-width: 25rem; margin-top:3%; margin-bottom:3%;">
    {% if user.admin %}
      <div class="card-header">Админ</div>
    {% else %}
      <div class="card-header">Пользователь</div>
    {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ user.get_fio() }}</h5>
        <!-- <p class="card-text">{username}</p> -->
        <button type="button" class="btn btn-dark" style="margin-top:3%; margin-bottom:3%;"
        onclick="window.location.href = '/profile/{{ user.username }}'">Редактировать</button>
        <button type="button" class="btn btn-primary" style="margin-top:3%; margin-bottom:3%;"
        onclick="confirmDelete('{{ user.username }}')">Удалить</button>
      </div>
    </div>
    {% endfor %}
</div>
<script>
    function confirmDelete(username) {
      if (confirm("Вы точно хотите удалить пользователя?")) {
          window.location.href = "/delete/" + username;
      }
  }
</script>
</body>
{% endblock %}