{% extends 'overpage.html' %}

{% block content %}
<style>
    th[scope="col"] {
        position: sticky;
        top: 0;
        z-index: 3;
        text-align: center;
        vertical-align: middle;
    }
    th[scope="row"] {
        position: sticky;
        left: 0;
        z-index: 2;
        text-align: center;
        vertical-align: middle;
    }
</style>
<body>

<center>
<h1> {{ name }} </h1>
</center>
<button class="btn btn-light" style="margin-top:2%; margin-bottom:2%; margin-left:2%; margin-right:2%; display: inline-block; vertical-align: top;" onclick="back()">« Назад</button>
<button class="btn btn-info" style="margin-top:2%; margin-bottom:2%; margin-left:2%; margin-right:2%; display: inline-block; vertical-align: top;" onclick="update()">Обновить</button>
<form method="post" action="{{ url_for('data.save_table', facility=facility, year=year, table=table) }}" enctype="multipart/form-data">
    <input type="submit" class="btn btn-success" style="margin-top:2%; margin-bottom:2%; margin-left:2%; margin-right:2%; display: inline-block; vertical-align: top;" value="Сохранить">
<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      {% for column in columns %}
      <th scope="col">{{ column }}</th>
      {% endfor %}
      <th scope="col">Январь</th>
      <th scope="col">Февраль</th>
      <th scope="col">Март</th>
      <th scope="col">Апрель</th>
      <th scope="col">Май</th>
      <th scope="col">Июнь</th>
      <th scope="col">Июль</th>
      <th scope="col">Август</th>
      <th scope="col">Сентябрь</th>
      <th scope="col">Октябрь</th>
      <th scope="col">Ноябрь</th>
      <th scope="col">Декабрь</th>
    </tr>
  </thead>

  <tbody>
    {% if columns|length > 2 %}
    {% for section, levels in form.items() %}
        <tr>
            <th scope="row" class="table-primary" rowspan="{{ levels|length * 2 }}" style="text-align: center; vertical-align: middle">{{ section }}</th>
            {% for level_dk, fields in levels.items() %}
                {% if loop.index != 1 %}
                    <tr>
                {% endif %}
                <th scope="row" class="table-primary" rowspan="2">{{ level_dk }}</th>
                <th scope="row" class="table-dark">План</th>
                {% for field in fields['plan'] %}
                    <td class="table-dark" style="text-align: center; vertical-align: middle;">{{ field|safe }}</td>
                {% endfor %}
                </tr>
                <tr>
                <th scope="row">Факт</th>
                {% for field in fields['fact'] %}
                    <td style="text-align: center; vertical-align: middle;">{{ field|safe }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tr>
    {% endfor %}
    {% else %}
    {% for section, fields in form.items() %}
        <tr>
        <th scope="row" class="table-primary" rowspan="{{ fields|length + 1 }}">{{ section }}</th>
        {% for field_name, field_type in fields_type.items() %}
            {% if field_type['type'] == 'plan' %}
            <tr class="table-dark">
            {% elif field_type['type'] == 'fact' %}
            <tr class="table-light">
            {% else %}
            <tr>
            {% endif %}
            <th scope="row">{{ field_type['name'] }}</th>
            {% for field in fields[field_name] %}
                <td style="text-align: center; vertical-align: middle;">{{ field|safe }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tr>
    {% endfor %}
    {% endif %}
    </tr>
  </tbody>
</table>
</form>
<script>
    function back() {
        if (confirm("Вы точно хотите вернуться? Изменения не будут сохранены.")) {
            window.location.href = "{{ url_for('data.data_tables', facility=facility) }}";}
    };
    function update() {
        if (confirm("Вы точно хотите обновить данные? Изменения не будут сохранены.")) {
            window.location.reload();}
    };
</script>
</body>
{% endblock %}
