{% extends 'overpage.html' %}


{% block content %}
<body>

<center>
<h1> Достижение целевого показателя по ДК ТОС </h1>
</center>

<form method="post">
  <button type="button" class="btn btn-light" style="margin-top:2%; margin-bottom:2%; margin-left:2%; margin-right:2%;" onclick="window.location.href = 'history.back()'">« Назад</button>
  <input type="submit" class="btn btn-primary" style="margin-top:2%; margin-bottom:2%; margin-left:2%; margin-right:2%;" value="Сохранить">
<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col" style="text-align: center; vertical-align: middle;">Раздел</th>
      <th scope="col" style="text-align: center; vertical-align: middle;">План/факт</th>
      <th scope="col" style="text-align: center; vertical-align: middle;">Январь</th>
      <th scope="col" style="text-align: center; vertical-align: middle;">Февраль</th>
      <th scope="col" style="text-align: center; vertical-align: middle;">Март</th>
      <th scope="col" style="text-align: center; vertical-align: middle;">Апрель</th>
      <th scope="col" style="text-align: center; vertical-align: middle;">Май</th>
      <th scope="col" style="text-align: center; vertical-align: middle;">Июнь</th>
      <th scope="col" style="text-align: center; vertical-align: middle;">Июль</th>
      <th scope="col" style="text-align: center; vertical-align: middle;">Август</th>
      <th scope="col" style="text-align: center; vertical-align: middle;">Сентябрь</th>
      <th scope="col" style="text-align: center; vertical-align: middle;">Октябрь</th>
      <th scope="col" style="text-align: center; vertical-align: middle;">Ноябрь</th>
      <th scope="col" style="text-align: center; vertical-align: middle;">Декабрь</th>
    </tr>
  </thead>

  <tbody>

<!--  rowspan="2"; colspan="3"-->
    {% for section, fields in form.items() %}
      <tr class="table-dark">
        <th scope="row" class="table-primary" rowspan="3" style="text-align: center; vertical-align: middle">{{ section }}</th>
        <th scope="row" style="text-align: center; vertical-align: middle;">План(цель)</th>
        {% for field in fields['target_plan'] %}
          <td style="text-align: center; vertical-align: middle;">{{ field|safe }}</td>
        {% endfor %}
      </tr>
      <tr class="table-dark">
        <th scope="row" style="text-align: center; vertical-align: middle;">План(обяз.)</th>
        {% for field in fields['mandatory_plan'] %}
          <td style="text-align: center; vertical-align: middle;">{{ field|safe }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row" style="text-align: center; vertical-align: middle;">Факт</th>
        {% for field in fields['fact'] %}
          <td style="text-align: center; vertical-align: middle;">{{ field|safe }}</td>
        {% endfor %}
      </tr>
    {% endfor %}





  </tbody>
</table>
</form>
</body>
{% endblock %}