<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Исполнение плана мероприятий по ДК ТОС</title>
  <link rel="stylesheet" href="../bootstrap.min.css">
</head>
<body>

<center>
<h1>Исполнение плана мероприятий по ДК ТОС</h1>
</center>

<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col" style="text-align: center; vertical-align: middle">Раздел</th>
      <th scope="col" style="text-align: center; vertical-align: middle">Уровень ДК</th>
      <th scope="col" colspan="2" style="text-align: center; vertical-align: middle">Январь</th>
      <th scope="col" colspan="2" style="text-align: center; vertical-align: middle">Февраль</th>
      <th scope="col" colspan="2" style="text-align: center; vertical-align: middle">Март</th>
      <th scope="col" colspan="2" style="text-align: center; vertical-align: middle">Апрель</th>
      <th scope="col" colspan="2" style="text-align: center; vertical-align: middle">Май</th>
      <th scope="col" colspan="2" style="text-align: center; vertical-align: middle">Июнь</th>
      <th scope="col" colspan="2" style="text-align: center; vertical-align: middle">Июль</th>
      <th scope="col" colspan="2" style="text-align: center; vertical-align: middle">Август</th>
      <th scope="col" colspan="2" style="text-align: center; vertical-align: middle">Сентябрь</th>
      <th scope="col" colspan="2" style="text-align: center; vertical-align: middle">Октябрь</th>
      <th scope="col" colspan="2" style="text-align: center; vertical-align: middle">Ноябрь</th>
      <th scope="col" colspan="2" style="text-align: center; vertical-align: middle">Декабрь</th>
    </tr>
  </thead>

  <tbody>

<!--  rowspan="2"; colspan="3"-->

    <tr class="table-primary">

      <th scope="row" class="table-primary" colspan="2" style="text-align: center; vertical-align: middle"></th>
      <th>план</th>
      <th>факт</th>
      <th>план</th>
      <th>факт</th>
      <th>план</th>
      <th>факт</th>
      <th>план</th>
      <th>факт</th>
      <th>план</th>
      <th>факт</th>
      <<th>план</th>
      <th>факт</th>
      <th>план</th>
      <th>факт</th>
      <th>план</th>
      <th>факт</th>
      <th>план</th>
      <th>факт</th>
      <th>план</th>
      <th>факт</th>
      <th>план</th>
      <th>факт</th>
      <th>план</th>
      <th>факт</th>
    </tr>


    <tr>
      <th scope="row" class="table-primary" rowspan="3" style="text-align: center; vertical-align: middle">Менеджмент</th>
      <th scope="row" class="table-primary">Уровень 1</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>

    </tr>

    <tr class="table-light">

      <th scope="row" class="table-primary">Уровень 2</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>

    </tr>
      <tr class="table-light">

      <th scope="row" class="table-primary">Уровень 3</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
    </tr>

<!--подготовка производства-->

<tr>
      <th scope="row" class="table-primary" rowspan="3" style="text-align: center; vertical-align: middle">Подготовка производства</th>
      <th scope="row" class="table-primary">Уровень 1</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>

    </tr>

    <tr class="table-light">

      <th scope="row" class="table-primary">Уровень 2</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>

    </tr>
      <tr class="table-light">

      <th scope="row" class="table-primary">Уровень 3</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
    </tr>

<!--SF-m ручные операции-->

<tr>
      <th scope="row" class="table-primary" rowspan="3" style="text-align: center; vertical-align: middle">SF-m ручные операции</th>
      <th scope="row" class="table-primary">Уровень 1</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>

    </tr>

    <tr class="table-light">

      <th scope="row" class="table-primary">Уровень 2</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>

    </tr>
      <tr class="table-light">

      <th scope="row" class="table-primary">Уровень 3</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
    </tr>

<!--SF-e оборудование-->

<tr>
      <th scope="row" class="table-primary" rowspan="3" style="text-align: center; vertical-align: middle">SF-e оборудование</th>
      <th scope="row" class="table-primary">Уровень 1</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>

    </tr>

    <tr class="table-light">

      <th scope="row" class="table-primary">Уровень 2</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>

    </tr>
      <tr class="table-light">

      <th scope="row" class="table-primary">Уровень 3</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
    </tr>

<!--ОТиБ-->

<tr>
      <th scope="row" class="table-primary" rowspan="3" style="text-align: center; vertical-align: middle">ОТиБ</th>
      <th scope="row" class="table-primary">Уровень 1</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>

    </tr>

    <tr class="table-light">

      <th scope="row" class="table-primary">Уровень 2</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>

    </tr>
      <tr class="table-light">

      <th scope="row" class="table-primary">Уровень 3</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
    </tr>

<!--Качество-->

<tr>
      <th scope="row" class="table-primary" rowspan="3" style="text-align: center; vertical-align: middle">Качество</th>
      <th scope="row" class="table-primary">Уровень 1</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>

    </tr>

    <tr class="table-light">

      <th scope="row" class="table-primary">Уровень 2</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>

    </tr>
      <tr class="table-light">

      <th scope="row" class="table-primary">Уровень 3</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
    </tr>

<!--Цепочка поставок-->

<tr>
      <th scope="row" class="table-primary" rowspan="3" style="text-align: center; vertical-align: middle">Цепочка поставок</th>
      <th scope="row" class="table-primary">Уровень 1</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>

    </tr>

    <tr class="table-light">

      <th scope="row" class="table-primary">Уровень 2</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>

    </tr>
      <tr class="table-light">

      <th scope="row" class="table-primary">Уровень 3</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
    </tr>

<!--Техническое развитие-->

  <tr>
      <th scope="row" class="table-primary" rowspan="3" style="text-align: center; vertical-align: middle">Техническое развитие</th>
      <th scope="row" class="table-primary">Уровень 1</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>

    </tr>

    <tr class="table-light">

      <th scope="row" class="table-primary">Уровень 2</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>

    </tr>
      <tr class="table-light">

      <th scope="row" class="table-primary">Уровень 3</th>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
      <td class="table-dark">00,00</td>
      <td class="table-light">00,00</td>
    </tr>

</body>
</html>