<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>кайдзен деятельность (ППУ), шт.</title>
  <link rel="stylesheet" href="../bootstrap.min.css">
</head>
<body>

<center>
<h1>Исполнение плана мероприятий по ДК ТОС</h1>
</center>

<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col" style="text-align: center; vertical-align: middle">Цех</th>
      <th scope="col">План/факт</th>
      <th scope="col">Январь</th>
      <th scope="col">Февраль</th>
      <th scope="col">Март</th>
      <th scope="col">Апрель</th>
      <th scope="col">Май</th>
      <th scope="col">Июнь</th>
      <th scope="col">Июль</th>
      <th scope="col">Август</th>
      <th scope="col">Сентябрь</th>
      <th scope="col">Октябрь</th>
      <th scope="col">Ноябрь</th>
      <th scope="col">Декабрь</th>
    </tr>
  </thead>

  <tbody>

<!--  rowspan="2"; colspan="3"-->

    <tr class="table-dark">
      <th scope="row" class="table-primary" rowspan="2" style="text-align: center; vertical-align: middle">Механообрабатывающий цех - Участок зубчатых колес</th>
      <th scope="row">План(цель)</th>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
    </tr>

  <tr class="table-light">

      <th scope="row">Факт</th>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
      <td>00,00</td>
    </tr>

  </tbody>
</body>
</html>